body{


    background-color: skyblue;


    color:goldenrod;


    padding:20% 5% 20% 5%;


}




h1{


    font-family: Verdana, Geneva, Tahoma, sans-serif;


    text-align: center;


    font-size: 1000%;


}